/*
  const colorNormal = "#FFFFCC";
const colorImportante = "#EC7063";
const colorBackground = "#666";
const colorGrisOscuro = "#111";
  
  */

  *{
    margin:0;
    padding:0;
  }
  
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
  }
  
  h1{
    color: #111;
    
  }
  
  h2{
    font-size:140%;
    font-weight:normal;
    font-weight:bold;
    color: #000;
  }
  ul,li{
    list-style:none;
  }
  ul li{
    overflow:hidden;
    padding:3em;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li {
    text-decoration:none;
    color:#000;
    background:#FFFFCC;
    display:block;
    height:15em;
    width:15em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }
  
  li{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  .curvado:nth-child(even) li{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
  }
  .curvado:nth-child(3n) li{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .curvado:nth-child(5n) li{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
  
  .normal {background-color: #FFFFCC;}
  .importante {background-color: #EC7063;}
  
  ol{
    text-align:center;
  }
  ol li{
    display:inline;
    padding-right:1em;
  }
  ol li{
    color:#fff;
  }
  
  
  